@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 1.2rem;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-calendar-picker-indicator {
  display: none !important;
}

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }
}

.task-status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.task-status::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: #fba94c;
}
